<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('charge', email=order.email)}}" method="post">
        <article>
            <label>姓名: {{ order.name }} </label>
            <label>電話: {{ order.phone }} </label>
            <label>Email: {{ order.email }} </label>
            <label>字母: {{ order.letters }} </label>
            
            {% if order.item_type == 'single' %}
            <label>類別: 單字 </label>
            {% else %}
            <label>類別: 字串 </label>
            {% endif %}

            {% if order.key_holder == 'ture' %}
            <label>鑰匙圈: 加 </label>
            {% else %}
            <label>鑰匙圈: 不加 </label>
            {% endif %}

            <label>地址: {{ order.address }} </label>
            <label>應付款: {{ order.price }} </label>
        </article>
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-amount="{{ order.price*100 }}"
            data-name="Demo Site"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
        </script>
        <!-- <script 
            src="https://button.stripe.com/v1/button.js" class="stripe-button" 
            data-key="{{ key }}"
            data-amount="{{ order.price*100 }}"
            data-name="{{ order.name }}">
        </script> -->
    </form>
</body>
</html>